@import "header";
@import "main_block";
@import "menu";
@import "gallery";

body{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.header{
  background-color: white;
  display: flex;
  .header__logo{
    margin-left:  14.16667%;
    padding: 55px 0 49px 0px;
  }

  .header_nav{
    display: inline-flex;
    margin-left:  22.75%;
    .header__nav__items{
      &:not(:last-child) {
        padding:49px;
      }
      &:last-child{
        padding: 49px 49px 49px 0;
      }
      .header_nav__items__links{
        @include text-prop(#3b3b3b,Aleo,14px,400,0.98px);
      }
    }
  }

}