@import "header";

.gallery{
  margin-left: 21%;
  margin-bottom: 1*$margin;
  margin-top: $margin;
    .gallery__title{
      white-space: nowrap;
      @include text-prop(#3b3b3b,Aleo,22px,700,1.1px);
      text-transform: uppercase;
    }
    .gallery__flex-block{
      margin-top:0.5*$margin ;
      display: flex;
      flex-direction: row; /*Пункты внутри контейнера будут располагаться горизонтально*/
      align-items: stretch; /*Пункты внутри контейнер будут принимать всю его высоту*/
        .gallery__half-image{
          .gallery__half-image__second-image{
           position: relative;
            top:-5px;
          }
        }
    }
}