@import "header";
.gallery{
  margin-top: $block;
  .gallery__header{
    display: flex;
    .gallery__header__title{
      @include text-prop(#3b3b3b,Aleo,20px,700,1px);
      text-transform: uppercase;
      width: 24%;
      margin-right: 76%;
    }
    ul {
      display: inline-flex;
      .gallery__header__btn-list{
        margin-top: 50%;
       .gallery__header__btn-list__btn{
         border:none;
         background-color: white;
         height: 20px;
       }
      }
    }
  }
  .gallery__carousel{
    .gallery__carousel__gallery{
      display: inline-flex;
    }
  }
}