@mixin text-prop($color,$font-family,$font-size,$font-weight,$letter-spacing){
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
}

.header{
  background-color: white;
  display: flex;
  .header__logo{
    margin-left:  14.16667%;
    padding: 55px 0 49px 0px;
  }

  .header_nav{
    display: inline-flex;
    margin-left:  22.75%;
    .header__nav__items{
      &:not(:last-child) {
        padding:49px;
      }
      &:last-child{
        padding: 49px 49px 49px 0;
      }
      white-space: nowrap;
      .header_nav__items__links{
        @include text-prop(#3b3b3b,Aleo,14px,400,0.98px);
      }

    }
  }

}